@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Roboto");
* {
  box-sizing: border-box; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container {
  width: 90%;
  margin: auto; }

.container2 {
  width: 70%;
  margin: auto; }

.menu {
  color: #FFF;
  font-size: 18px;
  position: relative;
  z-index: 555; }
  .menu-List {
    padding: 20px 0;
    position: absolute;
    right: 0; }
    .menu-List-Item {
      margin-left: 30px;
      display: inline; }

.homepage {
  height: 90vh;
  width: 100vw;
  overflow: hidden; }
  .homepage-Image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(0px); }

.card-Container {
  position: relative; }
  .card-Container-Item {
    transform: translateY(-20%);
    padding: 50px 30px;
    position: absolute;
    width: 50%;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.16);
    background: #FFF;
    right: 0;
    text-align: center; }
    @media (min-width: 400px) {
      .card-Container-Item {
        background: #FF0; } }
    .card-Container-Item-Name {
      font-size: 50px;
      margin-bottom: 20px; }
    .card-Container-Item-Icon {
      width: 15px;
      height: auto;
      margin-right: 5px;
      opacity: .7; }
    .card-Container-Item-Adress {
      font-size: 18px; }
    .card-Container-Item-Description {
      width: 70%;
      margin: 30px auto;
      text-align: left;
      line-height: 30px;
      font-size: 17px; }

.horaires-Container {
  margin: 40px 0;
  display: flex;
  align-items: flex-end; }
  .horaires-Container-ImgContainer {
    z-index: 0;
    width: 50%;
    height: auto; }
    .horaires-Container-ImgContainer img {
      width: 100%; }
  .horaires-Container-Item {
    margin: 0 auto 100px; }
    .horaires-Container-Item-Title {
      font-weight: bold;
      font-size: 30px; }
    .horaires-Container-Item-Jours {
      font-weight: bold;
      font-size: 19px;
      margin-top: 30px; }
    .horaires-Container-Item-Heure {
      margin-top: 10px;
      font-size: 18px; }

.trait {
  border: none;
  width: 100px;
  height: 2px;
  background-color: #000;
  margin: 15px 0; }

.avis {
  padding-bottom: 100px; }
  .avis-Title {
    font-size: 40px;
    font-weight: bold; }
  .avis-Paragraphe {
    margin: 30px 0;
    font-size: 17px;
    line-height: 30px; }

.Images {
  height: 100%;
  display: none; }
  .Images_return {
    display: flex;
    padding: 2% 5%;
    cursor: pointer; }
    .Images_return_img {
      width: 1em;
      height: 1em; }
  .Images_nav {
    display: flex;
    justify-content: space-around;
    padding-top: 1em;
    margin: 12% auto;
    width: 80%;
    height: 3em;
    background: #FFFFFF;
    color: grey;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }
    @media (min-width: 750px) {
      .Images_nav {
        margin: 0 auto; } }
    @media (min-width: 750px) {
      .Images_nav_itm {
        font-size: 30px; } }
  .Images_card {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 5% auto; }
    @media (min-width: 750px) {
      .Images_card {
        display: flex;
        flex-direction: row;
        padding: 0 0 0 10%; } }
    @media (min-width: 1730px) {
      .Images_card {
        display: flex;
        flex-direction: row;
        padding: 0 0 0 23%; } }
    .Images_card_img {
      height: 30%; }
    .Images_card_content {
      display: flex;
      flex-direction: column;
      padding: 5% 5% 0 5%;
      margin: 0.1% auto;
      height: 18%;
      background: #FFFFFF;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }
      @media (min-width: 750px) {
        .Images_card_content {
          margin: 2em 0 0 -1%; } }
      @media (min-width: 1730px) {
        .Images_card_content {
          margin: 1em 0 0 -1%; } }
      .Images_card_content_loc {
        display: flex; }
        .Images_card_content_loc_img {
          width: 10%;
          height: 10%; }
      .Images_card_content_sport {
        margin-left: 10%; }
      .Images_card_content_id {
        display: flex;
        margin: 10% 0 0 0; }
        .Images_card_content_id_img {
          width: 10%;
          height: 10%; }
      .Images_card_content_txt {
        margin-left: 10%; }
  .Images_page_top {
    display: flex;
    width: 115%;
    height: 35%; }
    .Images_page_top_imgL {
      width: 30%;
      height: 100%; }
    .Images_page_top_content {
      padding-left: 4%;
      position: relative; }
      .Images_page_top_content_title1 {
        font-weight: bold;
        font-size: 40px;
        position: absolute;
        top: -5%;
        left: -14%; }
      .Images_page_top_content_title2 {
        font-weight: bold;
        font-size: 20px;
        padding-top: 20%; }
      .Images_page_top_content_loc {
        display: flex;
        padding: 2% 0 0 2%;
        width: 100%; }
        .Images_page_top_content_loc_img {
          width: 20px;
          height: 20px; }
        .Images_page_top_content_loc_txt {
          width: 47%;
          padding-left: 2%; }
      .Images_page_top_content_txt {
        margin: 5% auto; }
    .Images_page_top_container {
      width: 30%;
      height: 130%; }
      .Images_page_top_container_imgR {
        margin: 12% 0 0 27%;
        height: 100%; }
  .Images_page_bot {
    margin: 8% auto; }
    .Images_page_bot_title {
      margin: 0 0 0 3%;
      font-weight: bold;
      font-size: 40px; }
    .Images_page_bot_content {
      width: 60%;
      height: 12%;
      margin: 3% auto;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }
      .Images_page_bot_content_id {
        display: flex;
        padding: 2% 0 0 5%;
        width: 70%;
        height: 4%; }
        .Images_page_bot_content_id_img {
          width: 20px;
          height: 20px; }
        .Images_page_bot_content_id_txt {
          font-weight: bold;
          padding-left: 2%; }
      .Images_page_bot_content_txt {
        padding: 3% 0 0 13%;
        width: 70%; }

.Twitter2 {
  display: none;
  flex-direction: column;
  width: 100%;
  padding: 10% 0;
  margin: 0 auto; }
  .Twitter2_select {
    width: 20%;
    margin: 5% auto; }

.twitter-timeline {
  margin: 0 auto; }

.Contact {
  display: none;
  flex-direction: column;
  position: relative;
  height: 100%; }
  @media (min-width: 1730px) {
    .Contact {
      display: none; } }
  .Contact_containerLeft {
    margin: 0 auto;
    padding: 5%;
    width: 54%;
    height: 32.5%;
    background: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1; }
    @media (min-width: 1730px) {
      .Contact_containerLeft {
        position: absolute;
        top: 26%;
        left: 17%;
        width: 21%;
        height: 25%;
        padding: 3%; } }
    .Contact_containerLeft_title {
      position: absolute;
      top: -0.68em;
      font-size: 50px;
      font-weight: bold; }
    .Contact_containerLeft_top {
      width: 70%;
      margin: 0 auto 0 auto; }
      .Contact_containerLeft_top_content {
        display: flex; }
        .Contact_containerLeft_top_content_img {
          height: 20px;
          width: 20px;
          padding: 4% 0; }
        .Contact_containerLeft_top_content_p {
          width: 78%;
          padding: 5%;
          word-wrap: break-word; }
    .Contact_containerLeft_bottom {
      width: 70%;
      margin: 0 auto;
      padding: 5% 0; }
      .Contact_containerLeft_bottom_social {
        width: 36%;
        margin: 3% 25%; }
        .Contact_containerLeft_bottom_social_fb {
          height: 20px;
          width: 20px; }
        .Contact_containerLeft_bottom_social_ig {
          height: 20px;
          width: 20px; }
        .Contact_containerLeft_bottom_social_twi {
          height: 20px;
          width: 20px; }
        .Contact_containerLeft_bottom_social_ytb {
          height: 20px;
          width: 20px; }
  .Contact_containerRight {
    margin: -11% 0;
    background: #F0F5F9; }
    @media (min-width: 1730px) {
      .Contact_containerRight {
        margin: 0 0 0 40%; } }
    .Contact_containerRight_form {
      display: flex;
      flex-direction: column;
      width: 40%;
      margin: 13em auto; }
      .Contact_containerRight_form_input {
        border: none;
        border-bottom: 1px solid grey;
        background: #F0F5F9;
        margin: 2em 0;
        padding: 0.5em;
        resize: none; }
        .Contact_containerRight_form_input::placeholder {
          color: #000000; }

.imgContainer {
  position: relative;
  height: 100vh; }

.img {
  position: absolute;
  width: 100%;
  bottom: -20%;
  background-clip: border-box; }

.img3 {
  z-index: 1; }

.img2 {
  z-index: 2; }

.img1 {
  z-index: 3; }

.edito {
  position: absolute;
  z-index: 2;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
  .edito-title {
    font-size: 60px;
    line-height: 1.5;
    font-family: 'Abril Fatface', cursive; }
  .edito-lead {
    font-size: 20px; }

.Magazine {
  padding: 5em 0; }
  .Magazine-imgContainer {
    position: relative;
    left: 1em;
    width: 40%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.075); }
  .Magazine-img {
    max-width: 100%; }
  .Magazine-textContainer {
    z-index: 4;
    position: relative;
    left: -1%;
    width: 60%;
    padding: 5em;
    background: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.075); }
  .Magazine-title {
    font-size: 50px;
    text-align: center;
    margin-bottom: 16px;
    font-family: 'Abril Fatface', cursive; }
  .Magazine-ref {
    font-size: 18px;
    text-align: center;
    margin-bottom: 70px; }
  .Magazine-text {
    font-size: 17px;
    line-height: 1.5; }

.Twitter {
  padding: 5em 0; }
  .Twitter-tweetContainer {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; }
  .Twitter-tweet {
    width: 50%;
    padding: 0.5em; }
  .Twitter-tweetContent {
    padding: 1.5em;
    display: flex;
    flex-flow: row wrap;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.075); }
  .Twitter-title {
    font-family: 'Abril Fatface', cursive;
    margin-bottom: 0.5em;
    font-size: 50px;
    position: relative; }
    .Twitter-title:before {
      content: '';
      position: absolute;
      left: -50%;
      top: 50%;
      transform: translateY(-50%);
      height: 2px;
      width: 100px;
      background: #1a1a1a; }
    .Twitter-title:after {
      content: '';
      position: absolute;
      right: -50%;
      top: 50%;
      transform: translateY(-50%);
      height: 2px;
      width: 100px;
      background: #1a1a1a; }
  .Twitter-imgContainer {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden; }
  .Twitter-img {
    max-width: 100%; }
  .Twitter-textContainer {
    width: calc(100% - 50px);
    padding: 0 1em; }
  .Twitter-top {
    margin-bottom: 16px;
    font-size: 12px; }
  .Twitter-pseudo, .Twitter-date {
    color: #657786; }
  .Twitter-name, .Twitter-pseudo, .Twitter-date {
    margin-right: 0.5em;
    line-height: 1.5; }
  .Twitter-compagnyContainer {
    width: 100%;
    padding: 1em;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center; }
  .Twitter-compagnyList {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center; }
  .Twitter-compagnyListItem {
    margin-right: 1em; }
  .Twitter-compagnyLink {
    margin: 2em 0; }
  .Twitter-compagnyImgContainer {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.075); }
  .Twitter-compagnyImg {
    max-width: 100%; }
  .Twitter-textLink {
    color: #3b94d9; }
  .Twitter-text {
    font-size: 14px;
    line-height: 1.5; }

.Themes {
  padding: 5em 0; }
  .Themes .container {
    flex-flow: column wrap; }
  .Themes-titleContainer {
    padding: 0 0.5em;
    text-align: right;
    width: 50%;
    align-self: flex-end;
    position: relative;
    right: 11%; }
    .Themes-titleContainer:after {
      content: '';
      position: absolute;
      right: -20%;
      top: 20%;
      transform: translateY(-50%);
      height: 2px;
      width: 100px;
      background: #1a1a1a; }
  .Themes-title {
    font-size: 50px;
    margin-bottom: 40px;
    font-family: 'Abril Fatface', cursive; }
  .Themes-titleText {
    font-size: 17px;
    line-height: 1.5;
    color: #777575; }
  .Themes-grid {
    padding: 40px 0.5em;
    width: 100%;
    height: 700px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 50%);
    grid-gap: 1em; }
  .Themes-sports {
    grid-column: 1/2;
    grid-row: 1/2;
    position: relative;
    overflow: hidden; }
  .Themes-gastronomie {
    grid-column: 2/3;
    grid-row: 1/2;
    position: relative;
    overflow: hidden; }
  .Themes-health {
    grid-column: 3/4;
    grid-row: 1/3;
    position: relative;
    overflow: hidden; }
  .Themes-culture {
    grid-column: 1/3;
    grid-row: 2/3;
    position: relative;
    overflow: hidden; }
  .Themes-img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .Themes-overlay {
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0; }
  .Themes-overlayTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 46px; }
  .Themes-gridLink {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    text-decoration: none; }

.Deals {
  padding: 5em 0; }
  .Deals .container {
    flex-flow: column wrap; }
  .Deals-titleContainer {
    padding: 0 0.5em;
    text-align: left;
    width: 50%;
    align-self: flex-start;
    position: relative;
    left: 11%; }
    .Deals-titleContainer:before {
      content: '';
      position: absolute;
      left: -20%;
      top: 20%;
      transform: translateY(-50%);
      height: 2px;
      width: 100px;
      background: #1a1a1a; }
  .Deals-title {
    font-size: 50px;
    margin-bottom: 40px;
    font-family: 'Abril Fatface', cursive; }
  .Deals-titleText {
    font-size: 17px;
    line-height: 1.5;
    color: #777575; }
  .Deals-grid {
    padding: 40px 0.5em;
    width: 100%;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 50%);
    grid-gap: 1em; }
  .Deals-first {
    grid-column: 1/3;
    grid-row: 1/3;
    overflow: hidden;
    position: relative; }
  .Deals-others1 {
    grid-column: 3/4;
    grid-row: 1/2;
    overflow: hidden;
    position: relative; }
  .Deals-others2 {
    grid-column: 4/5;
    grid-row: 1/2;
    overflow: hidden;
    position: relative; }
  .Deals-others3 {
    grid-column: 3/4;
    grid-row: 2/3;
    overflow: hidden;
    position: relative; }
  .Deals-others4 {
    grid-column: 4/5;
    grid-row: 2/3;
    overflow: hidden;
    position: relative; }
  .Deals-img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .Deals-overlay {
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0; }
  .Deals-overlayContent {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1em; }
  .Deals-overlayTitle {
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: normal; }
  .Deals-gridLink {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
    text-decoration: none; }
  .Deals-overlayLink {
    color: #ffffff;
    font-weight: bold; }
  .Deals-overlayText {
    color: #ffffff; }
  .Deals-link {
    width: 100%;
    text-align: right;
    padding: 0.5em; }

.Team {
  padding: 5em 0; }
  .Team-title {
    margin-bottom: 70px;
    font-size: 50px;
    position: relative;
    font-family: 'Abril Fatface', cursive; }
    .Team-title:before {
      content: '';
      position: absolute;
      left: -70%;
      top: 50%;
      height: 2px;
      width: 100px;
      background: #1a1a1a; }
    .Team-title:after {
      content: '';
      position: absolute;
      right: -70%;
      top: 50%;
      height: 2px;
      width: 100px;
      background: #1a1a1a; }
  .Team-memberContainer {
    display: flex;
    flex-flow: row wrap; }
  .Team-member {
    width: 25%; }
  .Team-memberImgContainer {
    width: 100%;
    padding: 0 0.5em; }
  .Team-memberImg {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .Team-memberInfo {
    padding: 0.5em;
    text-align: center;
    line-height: 1.5; }
  .Team-name {
    font-weight: bold;
    color: #777575; }
  .Team-fonction {
    color: #777575; }

.magazine {
  position: relative;
  padding-top: 100px; }
  .magazine-ImgContainer {
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.16);
    width: 50%; }
    .magazine-ImgContainer img {
      width: 100%; }
  .magazine-Modal {
    background-color: #FFF;
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.16);
    width: 55%;
    height: 40%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%); }
    .magazine-Modal-Title {
      text-align: center;
      font-size: 43px;
      margin-top: 50px; }
    .magazine-Modal-Number {
      margin-top: 20px;
      font-size: 16px;
      font-style: italic;
      text-align: center; }
    .magazine-Modal-Paragraphe {
      font-family: "Roboto";
      font-weight: lighter;
      width: 90%;
      margin: 50px auto;
      font-size: 17px;
      line-height: 30px; }
    .magazine-Modal-Footer {
      position: absolute;
      bottom: 30px;
      right: 30px; }
      .magazine-Modal-Footer a {
        font-weight: bold; }

.presentation {
  display: flex;
  justify-content: space-between;
  margin-top: 100px; }
  .presentation-Text {
    font-size: 17px;
    line-height: 30px;
    width: 40%;
    font-family: "Roboto";
    font-weight: lighter; }

.collector {
  position: relative;
  margin: 100px auto;
  background-color: #FFF;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.16);
  width: 65%;
  height: 30%; }
  .collector-Title {
    position: absolute;
    font-size: 50px;
    top: 0;
    left: -50px;
    transform: translateY(-60%); }
  .collector-List {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%); }
    .collector-List-Item {
      font-family: "Roboto";
      font-weight: lighter;
      margin-top: 10px; }

.informations {
  position: relative;
  width: 100%;
  height: 30vh; }
  .informations-Inner {
    display: flex;
    position: absolute;
    width: 90%;
    height: 100%;
    right: 0;
    justify-content: space-between;
    align-items: center; }
    .informations-Inner-Text {
      font-family: "Roboto";
      font-weight: lighter;
      font-size: 17px;
      line-height: 30px;
      width: 40%; }
    .informations-Inner-ImgContainer {
      width: 50%;
      height: 100%; }
      .informations-Inner-ImgContainer img {
        object-fit: cover;
        width: 100%;
        height: 100%; }

.pdf {
  margin-top: 100px;
  position: relative;
  text-align: center; }
  .pdf-Title {
    font-size: 50px; }
  .pdf-Subtitle {
    font-family: "Roboto";
    font-weight: lighter;
    margin-top: 30px;
    font-size: 17px; }
  .pdf img {
    width: 50%;
    margin: 30px auto; }

.magazineButton {
  font-family: "Roboto";
  font-weight: lighter;
  font-size: 16px;
  display: block;
  width: 360px;
  padding: 20px 0;
  margin: auto;
  background-color: #FFF;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.16);
  border: 0; }

body {
  height: 100vh; }

.sectionContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between; }

.item {
  position: relative;
  width: 32%;
  height: 100vh; }
  .item-Cover {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .item-Content {
    color: #FFF;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 60%;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center; }
    .item-Content-Title {
      font-size: 40px;
      font-weight: bold; }
    .item-Content hr {
      width: 200px;
      height: 2px;
      background-color: #FFF;
      margin: 50px auto;
      border: 0; }
    .item-Content-Description {
      line-height: 28px;
      font-size: 18px; }

.back {
  position: relative;
  padding: 100px 0 0 0; }
  .back-Inner {
    position: relative; }
    .back-Inner-Title {
      font-size: 90px;
      opacity: .05; }
    .back-Inner-Button {
      position: absolute;
      font-size: 20px;
      top: 0;
      left: 30px;
      display: flex;
      align-items: center;
      opacity: .3; }
      .back-Inner-Button img {
        width: 30px;
        height: auto;
        margin-right: 10px; }

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: absolute;
  width: calc(1000px + 120px);
  right: 12%; }
  .gallery-Square {
    margin: 15px;
    width: 250px;
    height: 250px;
    transition: height .2s; }
    .gallery-Square img {
      width: 100%;
      height: 100%;
      object-fit: cover; }

.modal {
  display: none;
  width: 60%;
  height: 50%;
  background-color: #FFF;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
  top: 70%;
  transform: translateY(-50%);
  position: fixed;
  left: 200px; }
  .modal-Number {
    position: absolute;
    font-size: 50px;
    left: 30%;
    transform: translateX(-20%);
    top: 30px; }
  .modal-Back {
    position: absolute;
    right: 30px;
    top: 30px;
    opacity: .3; }
    .modal-Back img {
      width: 30px;
      transform: rotate(180deg); }
  .modal-ImageContainer {
    height: 100%;
    width: 30%;
    left: 0; }
    .modal-ImageContainer img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .modal-Inner-Text {
    position: absolute;
    top: 0;
    width: 70%;
    left: 40%;
    margin-top: 100px; }
    .modal-Inner-Text-Lieu {
      font-size: 40px; }
    .modal-Inner-Text-Location {
      margin-top: 10px;
      display: flex;
      width: 55%;
      justify-content: space-between;
      align-items: center; }
      .modal-Inner-Text-Location-Adress {
        opacity: .7; }
        .modal-Inner-Text-Location-Adress img {
          width: 15px;
          margin-right: 10px; }
      .modal-Inner-Text-Location-Website {
        border-bottom: 1px solid grey;
        padding-bottom: 5px; }
    .modal-Inner-Text-Description {
      color: #3E3D3D;
      margin-top: 70px;
      width: 70%;
      line-height: 28px;
      font-size: 18px; }

.abonnementBack {
  opacity: .7;
  position: absolute;
  left: 10%;
  top: 10%;
  cursor: pointer; }
  .abonnementBack img {
    width: 15px;
    margin-right: 10px; }
  .abonnementBack span {
    font-size: 16px; }

.abonnement {
  left: 10%;
  top: 20%;
  position: absolute; }
  .abonnement-Title {
    position: relative;
    font-size: 50px; }
    .abonnement-Title::before {
      content: "";
      position: absolute;
      top: 50%;
      left: -100px;
      display: inline-block;
      width: 100px;
      height: 2px;
      background-color: #000; }

.cards {
  position: absolute;
  bottom: 50px;
  display: flex;
  width: 55%;
  left: 0;
  right: 0;
  margin: auto;
  justify-content: space-between; }
  .cards .cardItem {
    width: 37%;
    height: 60vh;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.16); }
    .cards .cardItem:hover {
      box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.16); }
    .cards .cardItem-Title {
      font-size: 30px;
      margin-top: 40px;
      text-align: center; }
    .cards .cardItem-PriceTrait {
      position: relative;
      margin: 70px 0; }
    .cards .cardItem-Trait {
      border: 0;
      background-color: #000;
      width: 100%;
      height: 1px; }
    .cards .cardItem-Price {
      width: 100px;
      margin: auto;
      left: 0;
      right: 0;
      top: 0;
      padding: 0 30px;
      transform: translateY(-50%);
      position: absolute;
      background-color: #FFF;
      font-family: "roboto";
      font-size: 18px; }
    .cards .cardItem-Paragraphe {
      width: 70%;
      margin: auto;
      font-size: 17px;
      line-height: 30px;
      font-family: "roboto";
      font-weight: lighter; }
    .cards .cardItem-Button {
      display: block;
      border: .5px solid #000;
      background-color: #FFF;
      text-align: center;
      font-size: 18px;
      padding: 10px 30px;
      margin: 50px auto;
      right: 0;
      left: 0;
      cursor: pointer; }

/* FONTS */
body {
  background: #ffffff !important;
  color: #1a1a1a;
  font-family: 'Roboto', sans-serif; }

.container {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center; }

.body {
  font-family: "avenir";
  overflow-x: hidden; }

.--active {
  color: black;
  font-size: 3em; }

a {
  color: #3b94d9; }

/*# sourceMappingURL=style.css.map */
